* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    background-color: white;
   padding: 2rem;
   font-family: 'Lato', sans-serif;
}

 .nav-heading {
    text-align: center;
    background-color: #fde047;
padding:0.5rem;
 }

 .header-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* align-content:center; */
    width:40%;
    max-width:100%;
    height:auto;    
}


 .text-box-area {
    border-radius: 5rem;
    border: none;
    width:50%;
    height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 10%;
        padding: 1rem;
}

 #btn-translate {
    border-radius: 0.5rem;
    padding: 1rem;
    width: 20%;
    margin-left: 30%;
    font-family:'Lato', sans-serif ;
    font-weight: 400;
color:black;
    background-color: #fde047;
    border: none;
    font-size: 20px;
}

#btn-translate:hover {
    /* background-color: white; */
    background-color:#3b82f6  ;
    color:#fde047;
}

p{
    padding: 1em;
}

footer {
    text-align: center;
    padding: 1.5rem;
    background-color:#fde047 ;
    box-sizing: border-box;

}